.container {
    width: 60%;
    background-color: #ffff;
    border-radius: 10px;
    padding: 0;
}


.video-image {
    margin: 0rem 0rem 0rem 0rem;
    padding: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-position: 10% 90%;
    object-fit: cover;
}

.video-details {
    padding: 2rem;
}

.video-description {
    font-size: larger;
}

.btn {
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.video-added-message {
    color: green;
}
