<h1>CONSOLE D'ADMINISTRATION</h1>
<div class="container"> <!--provides a wrapper for testing the scroll-->
    <div class="tWrap">
      <div class="tWrap__head">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Role</th>
            </tr>
          </thead>
        </table>
      </div> <!--/.tWrap__head-->
      <div class="tWrap__body">
        <table>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.id}}</td>
              <td>{{user.username}}</td>
              <td>{{user.role}}</td>
            </tr>
          </tbody>
        </table>
      </div> <!--/.tWrap__body-->
    </div> <!--/.tWrap-->
</div> <!--/.container--> 
<h2>Ajout d'une video</h2>
<button mat-raised-button color="primary" routerLink="/add-video">Ajouter une video</button>