
body{
  background-color: rgb(208, 221, 233);
}

.btn {
  margin-right: 5px
}

p {
  font-size: large;
}

.container
{
  padding-top: 2rem;
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.choix-categorie {
  margin-bottom: 1rem;
}

.title {
  font-size:x-large;
  font-weight: bold;
}

.card {
  background-color: #ffff;
  border-radius: 20px;
  padding: 0rem 0rem 2rem 0rem;
  margin-bottom: 1rem;
  position: relative;
  transition-duration: 500ms;
  &__desc {        
    position: relative;
    top: 0rem;
    margin: 0rem 1rem 0rem 1rem;  
    justify-content: space-between;
  }
  &__data span{
    font-style:italic;
  }
}


img {
  margin: 0rem 0rem 0rem 0rem;
  padding: 0px;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  object-position: 10% 90%;
  object-fit: cover;
}

.no-display {
  display: none;
  z-index: -10000;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 55em) {
  .container
  {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .card {
    width: 90%;
    height: auto;
    transition: 800ms;
    &:hover {
              background-color: #a1b3cf;
              transform: scale(1.07);                         
              cursor: pointer;
    }
    &__desc {        
      position: relative;
      top: 0rem;
      margin: 0rem 1rem 0rem 1rem;  
      justify-content: space-between;
    }
    &__data span{
      font-style:italic;
    }    
  }
}
