<body>
<h2>CATALOGUE DES VIDEOS</h2>
<button class="btn btn-primary" (click)="onSelectByCategory()" >Par categorie</button>
<button class="btn btn-secondary" *ngIf="choixCatego" (click)="onReload()" >Retour à la liste</button>

<div class="choix-categorie" *ngIf="choixCatego">
    <h2>Sélectionnez une catégorie</h2>
    <select name="categorie" id="categorySelect" [(ngModel)]="choosenCategory">
        <option value="">--categorie--</option>        
        <option *ngFor="let category of categories" value={{category.name}}>{{category.name}}</option>
    </select>
</div>


<div class="container" *ngIf="choixCatego">
  <div  
  *ngFor="let video of videos" 
  [ngClass]="video.categories[0].name == choosenCategory ? 'card' : 'no-display'"  
  routerLink="/video/{{ video.id }}">
    <div class="card__image" *ngIf="video.categories && video.categories[0].name == choosenCategory">
      <img src="{{imgRoot + video.image}}" alt="image de la video" class="video-image">
    </div>
    <div class="card__desc">
      <div class="card__title" *ngIf="video.categories && video.categories[0].name == choosenCategory">
        <p class="card__data title"> {{ video.title }} </p>
      </div>
      <div class="card__category" *ngIf="video.categories && video.categories[0].name == choosenCategory">
        <p class="card__data" *ngFor="let categorie of video.categories"><span>{{categorie.name}}</span></p>
      </div>
    </div>       
  </div>
</div>



<div class="container" *ngIf="!choixCatego">   
  <div class="card" *ngFor="let video of videos" routerLink="/video/{{ video.id }}" >
    <div class="card__image">
      <img src="{{imgRoot + video.image}}" alt="image de la video" class="video-image">
    </div>
    <div class="card__desc">
      <div class="card__title">
        <p class="card__data title"> {{ video.title }} </p>
      </div>
      <div class="card__category">
        <p class="card__data"><span>{{video.categories[0].name}}</span></p>
      </div> 
    </div>     
  </div> 
</div> 
</body>
 


