
.container
{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.box {
  background: #333;
  color: #fff;
  padding: 20px;
  transition: 800ms;
  &:hover {
            background-color: #a1b3cf;
            transform: scale(1.07);            
            cursor: pointer;
  }
  border-radius: 10px;
}


