.container
{
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  position: relative;
  left: 2%;
  right: 2%;
}

.choix-categorie {
  margin-bottom: 1rem;
}

.card {
  border: 1px solid black; 
  width: 80%;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
}

@media (min-width: 55em) {
  .container
  {
    margin-top: 1rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    width: 95%;
    position: relative;
    left: 3%;
    right: 1%;
  }

  .card {
    width: 80%;
    height: auto;
    transition: 800ms;
    &:hover {
              background-color: #a1b3cf;
              transform: scale(1.07);            
              cursor: pointer;
    }
  }
}
