<body>
<h2>CATALOGUE DES VIDEOS</h2>
<button (click)="onSelectByCategory()" >Par categorie</button>
<button *ngIf="choixCatego" (click)="onReload()" >Retour à la liste</button>

<div class="choix-categorie" *ngIf="choixCatego">
    <h2>Sélectionnez une catégorie</h2>
    <select name="categorie" id="categorySelect" [(ngModel)]="choosenCategory">
        <option value="">--categorie--</option>        
        <option *ngFor="let category of categories" value={{category.name}}>{{category.name}}</option>
    </select>
</div>

<h2 *ngIf="choixCatego"> Contenus {{choosenCategory}} </h2> 
<div class="container" *ngIf="choixCatego" > 
  <div *ngFor="let video of videos">
    <div *ngIf="video.categories[0].name == choosenCategory" >
      <div  class="card" routerLink="/video/{{ video.id }}">
        <div class="car__image">
        </div>
        <div class="card__title">
          <p class="card__data"> {{ video.title }} </p>
        </div>
        <div class="card__description">
          <p class="card__data">Lorem ipsum dolor sit amet. Et autem minima ut consectetur dolorem et exercitationem quibusdam. </p>
        </div>
        <div class="card__category">
          <p class="card__data" *ngFor="let categorie of video.categories">{{categorie.name}}</p>
        </div>   
      </div>
    </div>    
  </div>
</div>

<h2 *ngIf="!choixCatego"> Contenus </h2> 
<div class="container" *ngIf="!choixCatego">   
  <div class="card" *ngFor="let video of videos" routerLink="/video/{{ video.id }}" >
        <div class="car__image">
        </div>
        <div class="card__title">
          <p class="card__data"> {{ video.title }} </p>
        </div>
        <div class="card__description">
          <p class="card__data">Lorem ipsum dolor sit amet. Et autem minima ut consectetur dolorem et exercitationem quibusdam. </p>
        </div>
        <div class="card__category">
          <p class="card__data" *ngFor="let categorie of video.categories">{{categorie.name}}</p>
        </div>      
  </div> 
</div> 
 


