.connection {
    height: 40rem;
    position: relative;
}

.connection-form {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%); 
}

.btn {
    margin-top: 1rem;
}

.error-message {
    color: red;
}


