p{
    color: red;
}

h1 {
    margin-left: 1%;
}

form {
    margin-top: 1%;
    width: 40%;
    margin-left: 10%;
}

.form-group {
    margin-bottom: 2%;
}

.invisible {
    display: none;
}

button {
    margin-right: 2px;
}