<header class="header">
    <a href="" class="logo">SCIENTIA</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
      <!-- <li><a routerLink="/login" class="nav-link">Login</a></li> -->
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/adduser" class="nav-link">Inscription</a></li>
      <!-- <li><a routerLink="/adduser" class="nav-link">Inscription</a></li> -->
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/user-profile" class="nav-link">Mon profil</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/videos" class="nav-link">Catalogue Vidéos</a></li>
      <!-- <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">Admin</a></li> -->
      <li><a *ngIf="loginService.isUserLoggedIn() && loginService.isUserAdmin()" routerLink="/" class="nav-link">Admin</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Déconnexion</a></li>
    </ul>
</header>
