<h1>Bienvenue ! Connectez vous ou créez un compte !</h1>
<div class="register">
    <div class="register-form">        
        <h2>Inscription</h2>
        <form >
            <div class="form-group">
              <label for="username">Pseudo :</label>
              <input type="text" class="form-control" 
              id="username" name="username" placeholder="Pseudo" [(ngModel)]="user.username" required>      
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password"  class="form-control"  id="password" name="password" [(ngModel)]="user.password" required>
            </div>
            <div class="form-group">
                <label for="passwordconfirm">Confirmation du mot de passe</label>
                <input type="password" class="form-control"  id="passwordconfirm" name="passwordconfirm" [(ngModel)]="this.passwordConfirm">
            </div>
            <button  class="btn btn-primary" (click)="createUser()">Je m'inscris</button>
        </form>              
    </div>
    <p class="message" *ngIf="this.usernameMessage"> {{this.usernameMessage}} </p>
    <p class="message" *ngIf="message"> {{message}} </p>  
</div>
