// table {
//     width: 100%;
// }

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    color: rgb(46, 211, 223);
    padding: 0;
    margin: 0;
  }

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    background: white;
  }
  
  th, td {
    border: 1px solid lightgray;
    padding: 8px; 
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    
    // &:first-child {
    //   width: 90px;
    // }
    // &:last-child {
    //   text-align: right;
    //   width: 60px;
    // }
  }
  
  th {
    background: rgb(24, 107, 214);
    color: white;
    text-transform: uppercase;
    font-weight: normal;
  }
  
  table tr:first-child td {
    border-top: none;
  }
  
  .container {
    background: rgb(231, 12, 30);
    width: 70%;
    padding: 24px;
    height: 300px;
    border: 1px solid black;
    margin-bottom: 50px;
  }
  
  .tWrap {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    &__head {
      flex: 0 0 37px; // for Safari and IE
      overflow-y: scroll;
    }
    
    &__body {
      overflow-y: scroll;
    }
  }

  // .add-btn {
  //   position: absolute;
  //   left: 14rem;
  // }

  