
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    color: rgb(46, 211, 223);
    padding: 0;
    margin: 0;
  }

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    background: white;
  }
  
  th, td {
    border: 1px solid lightgray;
    padding: 8px; 
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center; 
  }
  
  th {
    background: rgb(24, 107, 214);
    color: white;
    text-transform: uppercase;
    font-weight: normal;
  }
  
  table tr:first-child td {
    border-top: none;
  }
  
  .container {
    background: rgba(2, 27, 56, 0.795);
    width: 70%;
    padding: 24px;
    height: 300px;
    border: 1px solid black;
    margin-bottom: 50px;
    border-radius: 20px 20px 20px 20px;
    transition: 800ms;
    @media (min-width: 55em) {
      &:hover {
        background-color: #a1b3cf;
        opacity: 95%;
        transform: scale(1.2);
      }
    }
  }
  
  .tWrap {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    &__head {
      flex: 0 0 37px; // for Safari and IE
      overflow-y: scroll;
    }
    
    &__body {
      overflow-y: scroll;
    }
  }
  