<h1>CONSOLE D'ADMINISTRATION</h1>
<h2>Utilisateurs</h2>
<div class="container"> <!--provides a wrapper for testing the scroll-->
    <div class="tWrap">
      <div class="tWrap__head">
        <table>
          <thead>
            <tr>
              <th>Nom</th>
              <th>Role</th>
              <th>Editer</th>
              <th>Supprimer</th>
            </tr>
          </thead>
        </table>
      </div> <!--/.tWrap__head-->
      <div class="tWrap__body">
        <table>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.username}}</td>
              <td>{{user.role}}</td>
              <td><button class="btn btn-success">Editer</button></td>
              <td><button class="btn btn-danger" (click)="deleteUser(user)">Supprimer</button></td>
            </tr>
          </tbody>
        </table>
      </div> <!--/.tWrap__body-->
    </div> <!--/.tWrap-->
</div> <!--/.container--> 


<h2>Videos</h2>
<div class="container"> 
    <div class="tWrap">
      <div class="tWrap__head">
        <table>
          <thead>
            <tr>
              <th>Titre</th>
              <th>Editer</th>
              <th>Supprimer</th>
            </tr>
          </thead>
        </table>
      </div> 
      <div class="tWrap__body">
        <table>
          <tbody>
            <tr *ngFor="let video of videos">
              <td>{{video.title}}</td>
              <td><button class="btn btn-success" routerLink="/update-video/{{video.id}}">Editer</button></td>
              <td><button class="btn btn-danger" (click)="deleteVideo(video)">Supprimer</button></td>
            </tr>
          </tbody>
        </table>
      </div> 
    </div> 
    <button class="btn btn-primary add-btn" routerLink="/add-video">Ajouter une video</button>
</div> 


<h2>Catégories</h2>
<div class="container"> 
    <div class="tWrap">
      <div class="tWrap__head">
        <table>
          <thead>
            <tr>
              <th>Nom</th>
              <th>Editer</th>
              <th>Supprimer</th>
            </tr>
          </thead>
        </table>
      </div> 
      <div class="tWrap__body">
        <table>
          <tbody>
            <tr *ngFor="let category of categories">
              <td>{{category.name}}</td>
              <td><button class="btn btn-success" routerLink="/update-category/{{category.id}}">Editer</button></td>
              <td><button class="btn btn-danger" (click)="deleteCategory(category)">Supprimer</button></td>
            </tr>
          </tbody>
        </table>        
      </div>               
    </div> 
    <button class="btn btn-primary add-btn" routerLink="/add-category">Ajouter une catégorie</button>       
</div> 

