<h1>Ma video</h1>
<div class="container">
    <div class="youtube-component">
        <youtube-player
        [playerVars]="playerConfig"
        [videoId]=videoParam
        [width]=videoWidth
        [height]=videoHeight
        ></youtube-player>
    </div>
</div>

<!-- <youtube-player
[playerVars]="playerConfig"
[width]=640
[height]=320
[videoId]="videoId"
(ready)="onReady($event)"
></youtube-player> -->

<!-- <youtube-player 
    [videoId] = videoParam
    suggestedQuality="highres" 
    [height]="125" 
    [width]="250" 
    >
</youtube-player> -->

<!-- <youtube-player 
    videoId="kcgOeGoEnA4" 
    suggestedQuality="highres" 
    [height]="250" 
    [width]="500" 
    [startSeconds]="4"
    [endSeconds]="8">
</youtube-player> -->








