.container {
    // border: 1px solid black;
    // width: 60%;
    // background-color: rgb(208, 221, 233);
    border-radius: 10px;
    // padding: 40px 20px 0 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

@media (min-width: 55em) {
    .container {
        border-radius: 10px;
        margin-left: 25%;
        width: 100%;
        height: 100%;
    }
}

// .youtube-component {
//     position: absolute; /* postulat de départ */
//     top: 0%; left: 50%; /* à 50%/50% du parent référent */
//     transform: translate(-50%, -0%); /* décalage de 50% de sa propre taille */
// }


// .youtube-player {
//     margin: 0 auto;
// }

